#formular {
    text-align: center;
    height: 50px;
    font-size: 20px;
    width: 250px;
    border:2px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    border-color: dodgerBlue;
    margin-top: 10px;
}